;@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.root{
    --main-blue:rgb(60, 32, 195);
}
*{
    font-family: "poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

nav{
    background-color: rgb(11, 215, 208);
    
    width: 100%;
    
    
    display:flex !important;
    flex-direction: row;
 
    align-items: center;
    }
    
a{
    color: rgb(30, 0, 178);
    padding-right: 40px;
}
main{
    padding-top: 30px;
}
.li{
    text-decoration: none;
    color: black;
}

.title{
    font-size: 60px;
    display: flex;
    font-weight:650;
    justify-content: center;
    margin-bottom: 25px;
    color: var(--main-blue);
}
.card{
    width: 21em;
    border-radius: 10px;
    padding: 25px;
    margin:15px;
    transition: 0.7s ease;

   
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    display: flex;
}